@import
	url("http://fonts.googleapis.com/css?family=Cinzel")
	;

@import
	url("http://fonts.googleapis.com/css?family=Philosopher")
	;


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

nav{    /* Estilo del menú*/
	position:relative;
	background-color: white;
	padding:10px 0px 10px 0px;
	font-family: 'Arvo', serif;
	
			
}

#menu li{    
	display:inline;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:30px;
	padding-left:30px;
	background-color: #0B173B;
}

#menu li:hover{  
	background-color: #91B1DB;		    
}

#menu li a:hover{ 
	color: #261C5C;
}

#menu li a{    
	text-decoration: none;
	font-size:18px;
	color: white;
	font-family: 'Philosopher', sans-serif;
}


.header img{
		float:left;
		margin-top:25px;
}

.header h2{   
		text-align:center;
		font-family: 'Cinzel', serif;	
		font-size: 70px;
		color: #0B173B;
		margin:20px 0 10px 0;
	
	}

.header p{
		text-align:center;
		font-family: 'Cinzel', serif;	
		font-size: 25px;
		color: #0B173B;
        left: 500px;
	}



